* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 688px;
  margin: 0 auto;
}
header .nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 33px;
  padding: 27px 0;
  font-weight: 500;
  font-size: 20px;
}
header .nav-menu a {
  color: #000;
}
.header-content {
}
.header-content-info {
  border-bottom: 1px solid black;
}
.blog h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 44px;
  width: 156px;
  height: 54px;
  flex-direction: column;
}

.header-content-info h3 {
  height: 33px;
  font-size: 30px;
  font-weight: 500;
}
.data {
  display: flex;
}
.data p {
  font-size: 20px;
  font-weight: 400;
  height: 25px;
}
.data a {
  color: #8695a4;
  font-size: 20px;
  font-weight: 400;
}
.header-content .header-content-info p {
  color: #21243d;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
}

.header-content-info > p {
  border-bottom: 1px solid black;
}
